body {
  background-image: url(../assets/forest-img.jpg);
  background-size: cover;   
}

.box {
  background: none;
  border: 1px solid #aadab5;
  color: #a3d9a5;
  backdrop-filter: blur(3px);
}

.theme-menu {
    backdrop-filter: blur(3px);
    border-radius: 12px;
}
